
:root{
    --bgcolor: rgba(36, 36, 36, 0.8);
}

nav {
    background-color: var(--bgcolor);
}
.nav-wrapper{
    padding:2px;
}
button {
    background-color: transparent;
    color: white;
    border: none;
}
.image-box {
    display: flex;
    justify-content: center;
    height: fit-content;
}

#readyBtn {
    display: flex;
    justify-content: center;
}

.card-stacked {
    display: flex;
    align-items: space-evenly;
}

#flag {
    float: right;
    margin-right: 10px;
}

body {
    color: #333333;
    position: relative;
    /* padding: 1px; */
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    height:100vh;
    /* background-image: url("https://github.com/nicoledodge/Project1/blob/main/assets/images/Colorado.jpg?raw=true");
     */
    /* added this before switching the background image to the main container VS the body */
    /* background-repeat: no-repeat;
    /* background-size: cover; */

    background-color: var(--bgcolor);
}

.main_container {
    /* added the picture to the main container to target height of the picture */
    background-image: url("https://github.com/nicoledodge/Project1/blob/main/assets/images/Colorado.jpg?raw=true");
    background-repeat:repeat-y; 
    background-size: cover; 
    background-position: center; 
}
   
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

h1 {
    font-size: 30px;
    margin-bottom: 40px;
}

#maincontainer {
    width: 100%;
    /* added more VH to the picture */
    height: 250vh;
}

.wrap {
    padding: 40px;
    text-align: center;
}
hr {
    clear: both;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 0;
    border-top: 1px 
    solid #aaaaaa;
}
nav .brand-logo {
    padding-left: 10px;
}
p {
    margin-bottom: 20px;
}
.btn {

    background: #428bca;
    border: #357ebd solid 1px;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    min-width: 60px;
    position: relative;
    transition: color .1s ease;
}
.btn:hover {
    background: #357ebd;
}
.btn.btn-big {
    font-size: 18px;
    padding: 15px 20px;
    min-width: 100px;
}
.btn-close {
    color: #aaaaaa;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: 0;
}
.btn-close:hover {
    color: #919191;
}


header img {
    width: 1440px;
    height: 600px;
    object-fit: cover;
}

.box{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
}
.box .subtitle{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 50%;
    right: 0;        
    text-align: center;
    top: 80%; /* Adjust this value to move the positioned div up and down */
    background: rgba(129, 63, 120, 0.8);
    font-family: Arial,sans-serif;
    color: #fff;
    width: 35%; /* Set the width of the positioned div */
}
.column {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
  
}
.page-footer{
    padding: 10px;
}
.page-footer .footer-copyright {
    padding: 5px;
}
.column .title {
    display: flex;
    align-items: flex-start;
}
.title {
    display: flex;
    flex-direction: row-reverse;
    width: 25vw;
    color: rgba(129, 63, 120, 0.8);
    font-size: 50px;
}
.vertical {
    border-left: 4px solid rgba(129, 63, 120, 0.8);
    height: 110px;
    position:absolute;
    left: 25%;
}
#sidebar {
    height: 100vh;
}
.chip img {
    height: 41px;
    width: 41px;
 }

 .chip {
    font-size: 80%;
 }
 
 footer {
    /* position:absolute; */
    display:inline;
    bottom:0;
    width:100%;   
            /*had to fix the footer to the bottom so it would not be at the top of the page upon load  */
        /* position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: red;
        color: white;
        text-align: center; */
      }

 
 
 /* #github {
     display:flex;
     justify-content: space-around;
 } */

 @media only screen and (max-width: 600px) {
    body {
        background-size: auto;
    }
}